  
       <p class="c2"> <a asp-action="Create">добавить новый фильм</a></p>
<div >
    <div><h1 class="request card2">  10 лучших фильмов</h1></div>
      
        @foreach (var f in ViewBag.Films)
        {
        <div class="container">
            <div class=" img "><img src=@Url.Content(f.Photo) width="350" height="500"></img></div>
            <div class="c1">
            <div class="card1">@f.Name</div><br>
            <div>@f.Genre</div>
                <div class="c"> @f.Year</div>
                <div>Режиссёр:&nbsp;&nbsp;&nbsp; @f.Director</div><br>
            <div class="card">@f.Story</div>
            </div>
            <div class="c4">
            <p class="c2 c3"> <a asp-action="Create">просмотр</a></p>
            <p class="c2 c3"><a asp-action="Edit" asp-route-id="@f.Id">редактировать</a></p>
            <p class="c2 c3"><a asp-action="Delete" asp-route-id="@f.Id">удалить</a></p>
            </div>
        </div>
        }
    
</div>
