

<div>
    <div><h1 class="request card2">  10 лучших фильмов</h1></div>
   

        @foreach (var f in ViewBag.Films)
        {
        <div class="container">
            <div class=" img "><img src=@Url.Content(f.Photo) width="350" height="500"></img></div>
            <div style="display:flex; flex-direction:column; padding:50px;justify-content:space-between;">
            <div class="card1">@f.Name</div><br>
            <div>@f.Genre</div>
                <div class="c"> @f.Year</div>
                <div>Режиссёр:&nbsp;&nbsp;&nbsp; @f.Director</div><br>
            <div class="card">@f.Story</div>
            </div>    
            </div>
        }
    
</div>
